.comments {
	text-align: center;
	max-width: 1024px;
	margin: 60px auto 30px auto;

	&__count {
		font-size: 1.4em;
		text-align: center;
		margin: 0 0 30px 0;
		padding: 0 25px;

		@include media('max-width: 560px') {
			font-size: 1.2em;
		}
	}

	&__btn {
		height: 48px;
		line-height: 46px;
		display: inline-block;
		border-radius: 2px;
		padding: 0 25px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		border: 1px solid white;
		outline: 0;
		cursor: pointer;
		color: white;
		margin-top: 25px;
		background: $blue;
		transform: translateZ(0);
		@include transition(250ms);

		&:hover, &:focus {
			transform: scale(1.1);
		}
		
		i {
			@extend .ti;
			font-size: 1em;
			position: relative;
			padding-right: 10px;
		}
	}

	&__info {
		max-width: 500px;
		margin: 15px auto 0 auto;
		padding: 0 30px;
		font-size: 0.8em;
		color: lighten($dark-gray,20)
	}
}

.comment {
	padding: 25px;
	margin-bottom: 10px;
	position: relative;
	background: white;
	text-align: left;
	@include clearfix;

	&:hover {
		.comment__answer-btn {
			opacity: 1;
		}
	}

	&:last-of-type {
		margin-bottom: 0;
	}
	
	&--answer {
		margin-left: 50px;
	}

	&--admin {
		border-top: 2px solid $blue;

		.comment__name {
			color: $blue;
		}
	}

	&__pic {
		width: 56px;
		height: 56px;
		background: url(../img/user-placeholder.png) no-repeat 50% 50%;
		position: absolute;
		border-radius: 50%;
		border: 1px solid gainsboro;

		@include retina {
			background-image: url(../img/user-placeholder@2x.png);
			background-size: 56px 56px;
		}		
	}

	&__body {
		float: left;
		padding-left: 80px;
	}

	&__date {
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: bold;
		color: lighten($dark-gray,30);
	}

	&__name {
		font-weight: bold;
		margin-bottom: 9px;

		&:after {
			display: block;
			width: 45px;
			height: 1px;
			background: lighten($dark-gray,60);
			content: ' ';
			margin: 9px 0 0 0;
		}
	}

	&__answer-btn {
		width: 26px;
		height: 26px;
		display: inline-block;
		border-radius: 50%;
		@extend .ti;
		@extend .ti-back-left;
		border: 0;
		position: relative;
		font-size: 0.9em;
		margin-left: 5px;
		top: 1px;
		color: $dark-gray;
		opacity: 0;
		background: transparent;
		@include transition(350ms);

		@include media('max-width: 767px') {
			opacity: 1;
		}
	}

	&__text {
		font-size: 0.9em;
	}

	@include media('max-width: 560px') {
		&__pic {
			display: none;
		}

		&__body {
			padding-left: 0;
		}

		&--answer {
			margin-left: 30px;
		}

		&__text {
			font-size: 0.85em;
		}
	}
}