$light-gray: #F6F6F6;
$dark-gray: #4A4A4A;
$red: #D03A02;
$red-quiz: #CD2700;
$green-quiz: #7AB901;

$green: #4eb046;
$green-2: darken($green,8);
$green-3: darken($green,16);

$blue: #4A90E2;

@mixin clearfix {
	&:before, &:after {
		content: " ";
    	display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}

@mixin transition($speed) {
	-webkit-transition: all $speed;
	-moz-transition:    all $speed;
	-o-transition:      all $speed;
	transition:         all $speed;
}

@mixin media($query) {
	@media only screen and (#{$query}) {
		@content;
	}
}

@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	  @content;
	}
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 13px;
  }
  &::-webkit-scrollbar-track {
    background-color: darken($light-gray, 3);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($light-gray, 20);
    border-radius: 10px;
    border: 2px solid darken($light-gray, 3);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($light-gray, 35);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}