﻿@model SOM.ViewModels.indexViewModel
@using SOM.Entities
@using SOM.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro SOM";
    Layout = "~/Views/Shared/_LayoutABM.cshtml";
}

<script>
    var urlDestacados = '@Url.Action("GetDestacados", "ABM")';
    var urlAgregarDestacado = '@Url.Action("AgregarDestacado","ABM")';
    var urlUpdateDestacado = '@Url.Action("ModificarDestacado","ABM")';
    var urlEliminarDestacado = '@Url.Action("InhabilitarDestacado","ABM")';
    var urlTraerRoles = '@Url.Action("GetRolesDestacado","ABM")';
    var urlTraerModulos = '@Url.Action("GetModulosDestacado", "ABM")';
    var urlTraerCursos = '@Url.Action("GetCursosDestacado", "ABM")';
    var urlTraerTipoDestacado = '@Url.Action("GetTipoDestacados", "ABM")';

    var miRol = 0;
    $(document).ready(function () {

        start();

    });
    function start() {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlDestacados,
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var destacados = data.Destacados;

                llenarGrilla(destacados);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });



        function llenarGrilla(destacados) {
            var tbody = $('#tbody');
            var trs = '';


            for (var i = 0; i < destacados.length; i++) {

                trs = trs + '<tr>';
                trs = trs + '    <td>' + destacados[i].Rol     + '</td>';
                trs = trs + '    <td>' + destacados[i].Modulo  + '</td>';
                trs = trs + '    <td>' + destacados[i].Curso   + '</td>';
                trs = trs + '    <td>' + destacados[i].TipoDescripcion + '</td>';
                trs = trs + '    <td>' + destacados[i].Orden+ '</td>';

                trs = trs + '    <td><i class="glyphicon glyphicon-edit" onClick="updateDestacado(' + destacados[i].ID_Destacado + ', ' + destacados[i].ID_Modulo + ', ' + destacados[i].ID_Curso + ', ' + destacados[i].ID_Rol + ', ' + destacados[i].TipoDestacado + ', ' + destacados[i].Orden + ', \'' + destacados[i].Imagen + '\' )"   onmouseover="" style="cursor: pointer;"></i></td>';
                trs = trs + '    <td><i class="glyphicon glyphicon-minus-sign"  onClick="deleteDestacado(' + destacados[i].ID_Destacado + ')"  onmouseover="" style="cursor: pointer;"></i></td>';
                /*
                if (modulos[i].Sn_activo != 0){
                    trs = trs + '    <td><i class="glyphicon glyphicon-minus-sign"  onClick="deleteAnswer(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion   + ', ' + modulos[i].Id_pregunta  + ', ' + modulos[i].Id_respuesta +', \'' + modulos[i].Nombre  + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                } else {
                    trs = trs + '    <td><i class="glyphicon glyphicon-plus-sign"  onClick="activateAnswer(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion  + ', ' + modulos[i].Id_pregunta  + ', ' + modulos[i].Id_respuesta +', \'' + modulos[i].Nombre + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                }

                trs = trs + '</tr>';
                */
            }
            tbody.html(trs);
        }

    }
    function deleteDestacado(id_destacado) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html("Eliminar Destacado");
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-danger" data-dismiss="modal" onClick="eliminarDestacado('+id_destacado+')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea deshabilitar este destacado?';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);
    }
    function updateDestacado(id_destacado, id_modulo, id_curso, cod_rol,tipoDestacado, orden, imagen ) {
        debugger
        $('#addTbody').html('');

        $("#updateModal").modal("show");
        $('#updateModalTitle').html('Destacados');
        var miTabla = '';
        miTabla = miTabla + '                        <tr>';
        miTabla = miTabla + '                            <td><label>Tipo Destacado</label></td>';
        miTabla = miTabla + '                            <td style="padding-bottom:8px; padding-left:8px;">';
        miTabla = miTabla + '                                <select id="ddlTipoDestacado" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" >';
        miTabla = miTabla + '                                </select>';
        miTabla = miTabla + '                            </td>';
        miTabla = miTabla + '                        </tr>';
        miTabla = miTabla + '                        <tr><td><label>Imagen</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtImagen" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" value="'+imagen+'" /></td></tr>';
        miTabla = miTabla + '                        <tr><td><label>Orden</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtOrden" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="' + orden + '" /></td></tr>';
        $('#updateTbody').html(miTabla);

        traerTiposDestacados($('#ddlTipoDestacado'), tipoDestacado);

        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" onClick="modificarDestacado(' + id_destacado + ')" value="Aceptar">'; //data-dismiss="modal"

        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';

        $('#updateModalFooter').html(footer);


        $('#divNombre').html('Destacado');
    }
    function addDestacado() {

        var body = $('#addTbody');
        var miTabla = '';
        miTabla = miTabla + '                        <tr>';
        miTabla = miTabla + '                            <td><label>Tipo Destacado</label></td>';
        miTabla = miTabla + '                            <td style="padding-bottom:8px; padding-left:8px;">';
        miTabla = miTabla + '                                <select id="ddlTipoDestacado" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" >';
        miTabla = miTabla + '                                    <option value="-1">Seleccionar</option>';
        miTabla = miTabla + '                                </select>';
        miTabla = miTabla + '                            </td>';
        miTabla = miTabla + '                        </tr>';
        miTabla = miTabla + '                        <tr><td><label>Imagen</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtImagen" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" value="../Images/modulos/Destacados_Home/" /></td></tr>';
        //miTabla = miTabla + '                        <tr><td><label>Orden</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtOrden" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="" /></td></tr>';
        miTabla = miTabla + '                        <tr><td><label>Rol</label></td><td style="padding-bottom:8px; padding-left:8px;">';
        miTabla = miTabla + '                                <select id="ddlRol" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="javascript:traerModulos($(\'#ddlModulo\'), $(\'#ddlRol\').val(), -10);">';
        miTabla = miTabla + '                                    <option value="-1">Seleccionar</option>';
        miTabla = miTabla + '                                </select>';
        miTabla = miTabla + '                            </td>';
        miTabla = miTabla + '                        </tr>';
        miTabla = miTabla + '                        <tr>';
        miTabla = miTabla + '                            <td><label>Modulo</label></td>';
        miTabla = miTabla + '                            <td style="padding-bottom:8px; padding-left:8px;">';
        miTabla = miTabla + '                                <select id="ddlModulo" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="javascript:traerCursos($(\'#ddlCurso\'), $(\'#ddlRol\').val(), $(\'#ddlModulo\').val(), null);">';
        miTabla = miTabla + '                                    ';
        miTabla = miTabla + '                                </select>';
        miTabla = miTabla + '                            </td>';
        miTabla = miTabla + '                        </tr>';
        miTabla = miTabla + '                        <tr>';
        miTabla = miTabla + '                            <td><label>Cursos</label></td>';
        miTabla = miTabla + '                            <td style="padding-bottom:8px; padding-left:8px;">';
        miTabla = miTabla + '                                <select id="ddlCurso" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onChange="cambiarCurso(this,0)">';
        miTabla = miTabla + '                                    <option value="-1">Seleccionar</option>';
        miTabla = miTabla + '                                </select>';
        miTabla = miTabla + '                            </td>';
        miTabla = miTabla + '                        </tr>';
        body.html(miTabla);


        traerTiposDestacados($('#ddlTipoDestacado'), -10);
        traerRoles($('#ddlRol'), -10);
        traerModulos($('#ddlModulo'), $('#ddlRol').val(), -10);
        traerCursos($('#ddlCurso'), $('#ddlRol').val(), $('#ddlModulo').val(), null);


        $("#addModal").modal("show");
    }

    function agregarDestacado() {


        var curso = getUltimoNivel().val();
        if (curso.val == -1) {
            curso = null;
        }
        var modulo = $('#ddlModulo').val();
        var rol = $('#ddlRol').val();
        var tipoDestacado = $('#ddlTipoDestacado').val();
        var imagen = $('#txtImagen').val();
        //var orden = $('#txtOrden').val();
        debugger

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlAgregarDestacado,
            contentType: "application/json; charset=utf-8",
            data :{id_modulo: modulo, id_curso: curso, cod_rol: rol, cod_tipo_destacado: tipoDestacado, url_imagen: imagen},//, orden: orden},
            success: function (data) {
                $("#addModal").modal("hide");
                debugger
                if (data.Mensaje == '') {
                    alert('El destacado ha sido agregada con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    function modificarDestacado(id_destacado)
    {
/*
        var curso = getUltimoNivel().val();
        if (curso.val == -1) {
            curso = null;
        }
*/
//        var modulo = $('#ddlModulo').val();
//        var rol = $('#ddlRol').val();
        var tipoDestacado = $('#ddlTipoDestacado').val();
        var imagen = $('#txtImagen').val();
        var orden = $('#txtOrden').val();
        debugger
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlUpdateDestacado,
            contentType: "application/json; charset=utf-8",
            //data: { id_destacado: id_destacado, id_modulo: modulo, id_curso: curso, cod_rol: rol, cod_tipo_destacado: tipoDestacado, url_imagen: imagen, orden: orden },
            data: { id_destacado: id_destacado, cod_tipo_destacado: tipoDestacado, url_imagen: imagen, orden: orden },
            async: false,
            success: function (data) {

                if (data.Mensaje == '') {
                    alert('La Respuesta ha sido modificada con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
                $('#updateTbody').html('');
                $('#updateModalFooter').html('');
                $("#updateModal").modal("hide");
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    function eliminarDestacado(id_destacado) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlEliminarDestacado,
            contentType: "application/json; charset=utf-8",
            data: { id_destacado: id_destacado },
            async: false,
            success: function (data) {
                if (data.Mensaje == '') {
                    alert('El destacado ha sido modificada con éxito!.');
                } else {
                    alert(data.Mensaje);
                }

                start();
                $("#deleteModal").modal("hide");
                $('#deleteModalFooter').html('');

            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });

    }


    function traerRoles(control, id_rol) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlTraerRoles,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var roles = data.Roles;
                completarSelectRoles(control, roles, id_rol);
                traerModulos($('#ddlModulo'), $('#ddlRol').val(), -10);

            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function traerModulos(control, id_rol, id_modulo) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlTraerModulos,
            contentType: "application/json; charset=utf-8",
            data: { cod_rol: id_rol },
            async:false,
            success: function (data) {

                var modulos = data.Modulos;

                completarSelectModulos(control, modulos, id_modulo);
                traerCursos($('#ddlCurso'), $('#ddlRol').val(), $('#ddlModulo').val(), null);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function traerTiposDestacados(control, cod_tipo_destacado) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlTraerTipoDestacado,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var tipoDestacado = data.Destacados;
                completarSelectDestacados(control, tipoDestacado, cod_tipo_destacado);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function completarSelectRoles(control, roles, id_rol) {

        var miSelect = control;
        var misDatos = '';
        for (var i = 0; i < roles.length; i++) {
            if (roles[i].ID_Rol == id_rol) {
                misDatos = misDatos + '<option value="' + roles[i].ID_Rol + '" selected >' + roles[i].Nombre + '</option>'
            } else {
                misDatos = misDatos + '<option value="' + roles[i].ID_Rol + '">' + roles[i].Nombre + '</option>'
            }
        }

        miSelect.html(misDatos);
    }
    function completarSelectDestacados(control, destacados, cod_tipo_destacado) {

        var miSelect = control;
        var misDatos = '';
        for (var i = 0; i < destacados.length; i++) {
            if (destacados[i].Cod_tipo_destacado == cod_tipo_destacado) {
                misDatos = misDatos + '<option value="' + destacados[i].Cod_tipo_destacado + '" selected >' + destacados[i].Nombre + '</option>'
            } else {
                misDatos = misDatos + '<option value="' + destacados[i].Cod_tipo_destacado + '">' + destacados[i].Nombre + '</option>'
            }
        }

        miSelect.html(misDatos);
    }
    function completarSelectModulos(control, modulos, id_modulo) {

        var miSelect = control;
        var misDatos = '';
        for (var i = 0; i < modulos.length; i++) {
            if (modulos[i].Id_modulo == id_modulo) {
                misDatos = misDatos + '<option value="' + modulos[i].Id_modulo + '" selected >' + modulos[i].Nombre + '</option>';
            } else {
                misDatos = misDatos + '<option value="' + modulos[i].Id_modulo + '">' + modulos[i].Nombre + '</option>';
            }
        }
        miSelect.html(misDatos);
    }
    function traerCursos(control, id_rol, ID_Modulo, ID_Curso) {
        if (ID_Curso == null) {
            eliminarNivel(0);
        }
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlTraerCursos,
            contentType: "application/json; charset=utf-8",
            data: { cod_rol: id_rol, id_modulo: ID_Modulo, id_curso: ID_Curso },
            async: false,
            success: function (data) {

                var cursos = data.Cursos;

                completarSelectCursos(control, cursos, ID_Curso);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function completarSelectCursos(control, cursos, id_curso) {
        var miSelect = control;
        var misDatos = '';
        misDatos = misDatos + '<option value="-1">Seleccionar</option>';

        for (var i = 0; i < cursos.length; i++) {

            if (cursos[i].Sigue == -1) {
                misDatos = misDatos + '<option value="' + cursos[i].Id_curso + '" class="sigue" >' + cursos[i].Nombre + '</option>';
            } else {
                misDatos = misDatos + '<option value="' + cursos[i].Id_curso + '">' + cursos[i].Nombre + '</option>';
            }
        }
        miSelect.html(misDatos);

    }
    function cambiarCurso(obj, nivel) {
        
        var sigue = $('#' + obj.id + ' :selected').hasClass('sigue');
        if (sigue){
            agregarNivel(obj.id,$('#' + obj.id + ' :selected').val(),nivel);
        } else {
            eliminarNivel(nivel);
        }
    }
    function agregarNivel(idSelect, id_parent, nivel) {
        var body = $('#addTbody');
        var html = body.html();
        var nuevo = '';

        nivel = parseInt(nivel) + 1;
        if ($('#ddlCurso_'+nivel).length == 0){
            nuevo =  nuevo + '<tr id="trNivel_'+nivel+'">';
            nuevo =  nuevo + '    <td><label>Sub Nivel '+nivel+'</label></td>';
            nuevo =  nuevo + '    <td style="padding-bottom:8px; padding-left:8px;">';
            nuevo =  nuevo + '        <select id="ddlCurso_'+nivel+'" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onChange="cambiarCurso(this, '+nivel+')">';
            nuevo =  nuevo + '            <option value="-1">Seleccionar</option>';
            nuevo =  nuevo + '        </select>';
            nuevo =  nuevo + '    </td>';
            nuevo =  nuevo + '</tr>';
            html = html + ' ' + nuevo;
            body.append(nuevo);
            //$('#' + idSelect).val(id_parent);
            traerCursos($('#ddlCurso_'+nivel), $('#ddlRol').val(), $('#ddlModulo').val(), $('#' + idSelect).val());
        }


    }
    function eliminarNivel(nivel) {

        nivel = nivel + 1;
        while($('#trNivel_' + nivel).length != 0) {
            $('#trNivel_' + nivel).remove();
            nivel = nivel + 1;
        }

    }
    function getUltimoNivel() {

        var found = false;
        var nivel = 1;
        while ($('#trNivel_' + nivel).length != 0) {
            found = true;
            nivel = nivel + 1;
        }
        nivel = nivel - 1;

        if (found) {
            if ($('#ddlCurso_' + nivel).val() != -1){ 
                return $('#ddlCurso_' + nivel);
            } else {
                if (nivel == 1) {
                    return $('#ddlCurso');
                } else {
                    return $('#ddlCurso_' + (nivel-1));
                }
            }

        }else{ 
            return $('#ddlCurso');
        }

    }

</script>
<div class="site-content site-content--default">

    @*<div class="modal-body">
            <iframe src="./Ajax/help" />
        </div>*@
    <div class="card">
        <div class="card__header">
            <h2><a href="javascript:void(0)"> Destacados </a></h2>
        </div>

        <div class="card__content">
            <div class="table__container">
                <table class="table table--default">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Modulo</th>
                            <th>Curso</th>
                            <th>Tipo Destacado</th>
                            <th>Orden</th>
                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>
                            @*<th style="width: 2px; padding:0;"></th>*@
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

            </div>
            <div>
                <input type="button" class="btn btn-success" onclick="addDestacado()" value="Agregar" style="float: right;">
            </div>
        </div>
    </div>

</div>

<!-- CANCEL A PO MODAL -->


<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="pActivacion">Está seguro que desea deshabilitar esta Respuesta? Todos los cursos asociados serán deshabilitados.</p>
            </div>
            <div class="modal-footer" id="deleteModalFooter">
                <input type="button" class="btn btn-danger" data-dismiss="modal" onclick="desactivarCurso()" value="Aceptar" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>


<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle"></h4>
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    <thead><tr><th style="width:30%"></th><th style="width:70%"></th></tr></thead>
                    <tbody id="updateTbody"></tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle">Agregar Destacado</h4>
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    <thead><tr><th style="width:30%"></th><th style="width:70%;"></th></tr></thead>
                    <tbody id="addTbody">
                        <tr>
                            <td><label>Tipo Destacado</label></td>
                            <td style="padding-bottom:8px; padding-left:8px;">
                                <select id="ddlTipoDestacado" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" >
                                    <option value="-1">Seleccionar</option>
                                </select>
                            </td>
                        </tr>
                        <tr><td><label>Imagen</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtImagen" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="../Images/modulos/Destacados_Home/" /></td></tr>
                        <tr><td><label>Orden</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtOrden" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%;" value="" /></td></tr>
                        <tr><td><label>Rol</label></td><td style="padding-bottom:8px; padding-left:8px;">
                                <select id="ddlRol" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="javascript:traerModulos($('#ddlModulo'), $('#ddlRol').val(), -10);">
                                    <option value="-1">Seleccionar</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Modulo</label></td>
                            <td style="padding-bottom:8px; padding-left:8px;">
                                <select id="ddlModulo" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onchange="javascript:traerCursos($('#ddlCurso'), $('#ddlRol').val(), $('#ddlModulo').val(), null);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Cursos</label></td>
                            <td style="padding-bottom:8px; padding-left:8px;">
                                <select id="ddlCurso" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" onChange="cambiarCurso(this,0)">
                                    <option value="-1">Seleccionar</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" onclick="agregarDestacado()" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"> @**@
            </div>
        </div>

    </div>
</div>




