﻿@model SOM.ViewModels.ABMViewModel
@using SOM.Entities
@using SOM.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro SOM";
    Layout = "~/Views/Shared/_LayoutABM.cshtml";
}

<script>
    var urlPregunta = '@Url.Action("GetPregunta", "ABM")';
    var urlAgregarPregunta = '@Url.Action("AgregarPregunta","ABM")';
    var urlUpdatePregunta = '@Url.Action("ModificarPregunta","ABM")';
    var urlInhabilitarPregunta = '@Url.Action("InhabilitarPregunta","ABM")';
    var urlHabilitarPregunta = '@Url.Action("HabilitarPregunta","ABM")';

    var miModulo = @Model.id_modulo;
    var miCurso = @Model.id_curso;
    var miLeccion = @Model.id_leccion;
    var miPregunta = @Model.id_pregunta;

    $(document).ready(function () {

        start();

    });
    function start() {
        debugger
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlPregunta,
            contentType: "application/json; charset=utf-8",
            data: { id_modulo: miModulo, id_curso:miCurso, id_leccion: miLeccion },
            success: function (data) {

                var cursos = data.preguntas;
                debugger
                llenarGrilla(cursos);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });



        function llenarGrilla(modulos) {
            var tbody = $('#tbody');
            var trs = '';


            for (var i = 0; i < modulos.length; i++) {

                trs = trs + '<tr>';
                trs = trs + '    <td>' + modulos[i].Nombre + '</td>';
                trs = trs + '    <td>' + modulos[i].Cant_puntos + '</td>';
                trs = trs + '    <td>' + modulos[i].Correcto + '</td>';
                trs = trs + '    <td>' + modulos[i].Incorrecto + '</td>';
                trs = trs + '    <td>' + ((modulos[i].Sn_activo == -1) ? 'SI' : 'NO') + '</td>';

                trs = trs + '    <td><i class="glyphicon glyphicon-edit" onClick="updateQuestion(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion  + ', ' + modulos[i].Id_pregunta +', \'' + modulos[i].Nombre + '\', ' + modulos[i].Cant_puntos +' , \'' + modulos[i].Correcto  +'\',  \'' +  modulos[i].Incorrecto +'\' )"   onmouseover="" style="cursor: pointer;"></i></td>';
                
                if (modulos[i].Sn_activo != 0){
                    trs = trs + '    <td><i class="glyphicon glyphicon-minus-sign"  onClick="deleteQuestion(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion   + ', ' + modulos[i].Id_pregunta +', \'' + modulos[i].Nombre + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                } else {
                    trs = trs + '    <td><i class="glyphicon glyphicon-plus-sign"  onClick="activateQuestion(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion  + ', ' + modulos[i].Id_pregunta +', \'' + modulos[i].Nombre + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                }
                trs = trs + '    <td><i class="glyphicon glyphicon-share-alt"  onClick="goToAnswer(' + modulos[i].Id_modulo + ', ' + modulos[i].Id_curso + ', ' + modulos[i].Id_leccion + ', ' + modulos[i].Id_pregunta + ')"  onmouseover="" style="cursor: pointer;"></i></td>';
             
                trs = trs + '</tr>';

            }
            tbody.html(trs);
        }

    }
    function deleteQuestion(id_module, id_curso, id_leccion, id_pregunta,  nombre) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html(nombre);
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-danger" data-dismiss="modal" onClick="inhabilitarPregunta('+id_module+', ' + id_curso + ', ' + id_leccion + ', ' + id_pregunta +')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea deshabilitar este módulo? Todos los cursos asociados serán deshabilitados.';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);
    }
    function activateQuestion(id_module, id_curso, id_leccion, id_pregunta, nombre) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html(nombre);
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" data-dismiss="modal" onClick="habilitarPregunta(' + id_module + ', ' + id_curso + ', ' + id_leccion + ', ' + id_pregunta +')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea habilitar este módulo? los cursos asociados no serán habilitados, debe realizarlo manualmente.';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);

    }
    function updateQuestion(id_module, id_curso, id_leccion, id_pregunta, nombre, puntos, correcto, incorrecto) {
        $("#updateModal").modal("show");
        $('#updateModalTitle').html(nombre);
        var tbody = '';
        tbody = tbody + '<tr><td><label>Pregunta</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtNombre" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" value="' + nombre + '" /></td></tr>';
        tbody = tbody + '<tr><td><label>Puntos</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtcant_puntos" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" value="' + puntos + '" /></td></tr>';
        tbody = tbody + '<tr><td><label>Texto Correcto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtcorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;"  value="' + correcto + '" /></td></tr>';
        tbody = tbody + '<tr><td><label>Texto Incorrecto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtincorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;"  value="' + incorrecto + '" /></td></tr>';
        $('#updateTbody').html(tbody);
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" onClick="modificarPregunta(' + id_module + ', ' + id_curso + ', ' + id_leccion + ', ' + id_pregunta + ')" value="Aceptar">'; //data-dismiss="modal"

        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';

        $('#updateModalFooter').html(footer);


        $('#divNombre').html(nombre);
    }
    function addQuestion() {
        $("#addModal").modal("show");
    }
    function goToAnswer(id_modulo, id_curso, id_leccion, id_pregunta) {
        window.location.assign(window.location.origin + "/SOM/ABM/respuesta?id_modulo=" + id_modulo + "&id_curso=" + id_curso + "&id_leccion=" + id_leccion + "&id_pregunta=" + id_pregunta); // /SideproMovistar

    }
    function addPregunta() {

        var nombre, correcto, incorrecto, cant_puntos;
        nombre = $('#txtNombre').val();
        correcto = $('#txtcorrecto').val();
        incorrecto = $('#txtincorrecto').val();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlAgregarPregunta,
            contentType: "application/json; charset=utf-8",
            data :{Id_modulo: miModulo, Id_curso: miCurso, Id_leccion: miLeccion, Nombre: nombre, Correcto: correcto, Incorrecto: incorrecto},
            success: function (data) {
                $("#addModal").modal("hide");

                if (data.Mensaje == '') {
                    alert('El Curso ha sido agregado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    function modificarPregunta(id_module, id_curso, id_leccion, id_pregunta)
    {

        var nombre, correcto, incorrecto, cant_puntos;
        nombre = $('#txtNombre').val();
        correcto = $('#txtcorrecto').val();
        incorrecto = $('#txtincorrecto').val();
        cant_puntos = $('#txtcant_puntos').val();
        debugger
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlUpdatePregunta,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: id_module,Id_curso: id_curso, Id_leccion: id_leccion,Id_pregunta: id_pregunta, Nombre: nombre, Correcto: correcto, Incorrecto: incorrecto, Cant_puntos: cant_puntos},
            success: function (data) {

                if (data.Mensaje == '') {
                    alert('La Lección ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
                $('#updateTbody').html('');
                $('#updateModalFooter').html('');
                $("#updateModal").modal("hide");
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }
    function inhabilitarPregunta(id_module, id_curso, id_leccion, id_pregunta) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlInhabilitarPregunta,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: id_module, Id_curso: id_curso, Id_leccion: id_leccion, Id_pregunta: id_pregunta},
            success: function (data) {
                if (data.Mensaje == '') {
                    alert('La Pregunta ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }

                start();

                $('#deleteModalFooter').html('');

            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });

    }
    function habilitarPregunta(id_module, id_curso, id_leccion, id_pregunta) {
        
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlHabilitarPregunta,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: id_module, Id_curso: id_curso, Id_leccion: id_leccion, Id_pregunta: id_pregunta},
            success: function (data) {
                if (data.Mensaje == '') {
                    alert('La Pregunta ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();

                $('#deleteModalFooter').html('');

            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });

    }


</script>
<div class="site-content site-content--default">

    @*<div class="modal-body">
            <iframe src="./Ajax/help" />
        </div>*@
    <div class="card">
        <div class="card__header">
            <h2><a href="javascript:void(0)"> @Model.Titulo </a></h2>
        </div>

        <div class="card__content">
            <div class="table__container">
                <table class="table table--default">
                    <thead>
                        <tr>
                            <th>Pregunta</th>
                            <th>Puntos</th>
                            <th>Texto_Correcto</th>
                            <th>Texto_Incorrecto</th>
                            <th>Activo</th>

                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>

                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

            </div>
            <div>
                <input type="button" class="btn btn-success" onclick="addQuestion()" value="Agregar" style="float: right;">
            </div>
        </div>
    </div>

</div>

<!-- CANCEL A PO MODAL -->


<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="pActivacion">Está seguro que desea deshabilitar esta Pregunta? Todos los cursos asociados serán deshabilitados.</p>
            </div>
            <div class="modal-footer" id="deleteModalFooter">
                <input type="button" class="btn btn-danger" data-dismiss="modal" onclick="desactivarCurso()" value="Aceptar" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>


<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle"></h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%"></th></tr></thead>
                    <tbody id="updateTbody"><tr><td><label>Nombre</label></td><td><input type="text" value="asdasd" /></td></tr></tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle">Agregar Pregunta</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%;"></th></tr></thead>
                    <tbody id="addTbody">
                        <tr><td><label>Pregunta</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtNombre" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;" value="" /></td></tr>
                        <tr><td><label>Texto Correcto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtcorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;"  value="" /></td></tr>
                        <tr><td><label>Texto Incorrecto</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtincorrecto" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;"  value="" /></td></tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" onclick="addPregunta()" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"> @**@
            </div>
        </div>

    </div>
</div>




