﻿@model SOM.ViewModels.RolCourseViewModel
@using SOM.Entities

@{
    ViewBag.Title = "Sidepro SOM - Roles Curso";
    Layout = "~/Views/Shared/_LayoutABM.cshtml";
}
<script>

    var miRol = @Model.id_rol;
    var miModulo = @Model.id_modulo;
    var miCurso = null;
    @if (Model.id_curso != null){
        <text>
            miCurso = @Model.id_curso;
        </text>
    }

    var urlrolCursos = '@Url.Action("GetRolCursos", "ABM")';
    var urlAgregarRolCurso = '@Url.Action("AgregarRolCurso", "ABM")';
    var urlEliminarRolCurso= '@Url.Action("EliminarRolCurso", "ABM")';
    var urlCursos = '@Url.Action("GetCursosABM", "ABM")';
    $(document).ready(function () {
        start();
    })
    function start() {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlrolCursos,
            contentType: "application/json; charset=utf-8",
            data: { id_rol: miRol, id_modulo: miModulo, id_curso: miCurso},
            success: function (data) {
                var cursos = data.Cursos;
                llenarGrilla(cursos);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        function llenarGrilla(cursos) {
            var tbody = $('#tbody');
            var trs = '';

            debugger
            for (var i = 0; i < cursos.length; i++) {

                trs = trs + '<tr>';
                trs = trs + '    <td>' + cursos[i].Nombre + '</td>';
                trs = trs + '    <td><i class="glyphicon glyphicon-minus-sign"  onClick="deleteRolCurso('+ cursos[i].Id_curso + ', \'' + cursos[i].Nombre + '\')"  onmouseover="" style="cursor: pointer;"></i></td>';
                
                if (cursos[i].Sigue == -1){
                    trs = trs + '    <td><i class="glyphicon glyphicon-share-alt"  onClick="goToRoleModuleCourse(' + cursos[i].Id_modulo + ',' + cursos[i].Id_curso +')"  onmouseover="" style="cursor: pointer;"></i></td>';
                }                
                trs = trs + '</tr>';
            }
            tbody.html(trs);
        }

    }
    function deleteRolCurso(id_curso,  nombre) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html(nombre);
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-danger" data-dismiss="modal" onClick="eliminarRolCurso('+id_curso+')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea eliminar este módulo? Todos los cursos asociados al rol también seran eliminados.';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);
    }
    function eliminarRolCurso(id_curso) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlEliminarRolCurso,
            contentType: "application/json; charset=utf-8",
            data: { ID_Modulo: miModulo, ID_Curso: id_curso, ID_Rol: miRol},
            success: function (data) {
                if (data.Mensaje == '') {
                    alert('El Modulo del rol ha sido eliminado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
                $('#deleteModalFooter').html('');
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });

    }
    function addRolCurso() {
        cargarCursos($('#ddlCurso'),-10);
        $("#addModal").modal("show");
    }
    function addRoleCurso() {

        var modulo;
        curso =  $('#ddlCurso').val();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlAgregarRolCurso,
            contentType: "application/json; charset=utf-8",
            data: { ID_Rol: miRol, ID_Modulo: miModulo, ID_Curso: curso, parent: miCurso },
            success: function (data) {
                $("#addModal").modal("hide");
                if (data.Mensaje == '') {
                    alert('El Modulo ha sido agregado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
            },
            error: function (xhr, status, error) {
                alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
            }
        });
    }

    function goToRoleModuleCourse(id_modulo, id_curso) {
        window.location.assign(window.location.origin + "/SOM/ABM/rolCurso?id_rol=" + miRol + '&id_modulo=' + id_modulo + '&id_curso=' + id_curso); //SideproMovistar
    }

    function cargarCursos(control, id_curso) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlCursos,
            contentType: "application/json; charset=utf-8",
            data: {id_rol: miRol, id_modulo: miModulo, id_curso: miCurso},
            success: function (data) {
                var cursos = data.Cursos;
                completarSelect(control, cursos , id_curso);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function completarSelect(control, cursos, id_curso) {
        var miSelect = control;
        var misDatos = '';
        for (var i = 0; i < cursos.length; i++) {
            if (cursos[i].Id_modulo == id_curso){
                misDatos = misDatos + '<option value="' + cursos[i].Id_curso + '" selected >' + cursos[i].Nombre + '</option>'
            } else {
                misDatos = misDatos + '<option value="' + cursos[i].Id_curso + '">' + cursos[i].Nombre + '</option>'
            }
        }

        miSelect.html(misDatos);
    }
</script>


<div class="site-content site-content--default">
    <div class="card">
        <div class="card__header">
            <h2><a href="javascript:void(0)">@Model.NombrePadre </a></h2>
        </div>

        <div class="card__content">
            <div class="table__container">
                <table class=" table table--default">
                    <thead id="thead">
                        <tr>
                            <th>Rol</th>
                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

            </div>
            <div style="padding-top:10px">
                <input type="button" class="btn btn-success" onclick="addRolCurso()" value="Agregar" style="float: right;">
            </div>
        </div>
    </div>

</div>

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle">Agregar Curso</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%;"></th></tr></thead>
                    <tbody id="addTbody">
                        <tr>
                            <td><label>Curso</label></td>
                            <td style="padding-bottom:8px; padding-left:8px;">
                                <select id="ddlCurso" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" onclick="addRoleCurso()" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"> @*data-dismiss="modal"*@
            </div>
        </div>

    </div>
</div>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="pActivacion">Está seguro que desea eliminar este módulo? Todos los cursos asociados al rol serán eliminados.</p>
            </div>
            <div class="modal-footer" id="deleteModalFooter">
                <input type="button" class="btn btn-danger" data-dismiss="modal" onclick="desactivarCurso()" value="Aceptar" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>
