﻿@model SOM.ViewModels.indexViewModel
@using SOM.Entities
@using SOM.HelperExtensionNameSpace

@{
    ViewBag.Title = "Sidepro SOM - Usuarios";
    Layout = "~/Views/Shared/_LayoutABM.cshtml";
}
<script>
    var urlUsuarios = '@Url.Action("GetUsuarios", "ABM")';

    var urlAgregarUsuario = '@Url.Action("AgregarUsuario","ABM")';
    var urlUpdateUsuario = '@Url.Action("ModificarUsuario","ABM")';
    var urlCambiarEstadoUsuario = '@Url.Action("CambiarEstadoUsuario", "ABM")';

    var urlGetAgencias = '@Url.Action("GetAgencias", "ABM")';
    var urlGetRoles = '@Url.Action("GetRoles", "ABM")';


    $(document).ready(function () {
        start();
    })
    function start() {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlUsuarios,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var usuarios = data.Usuarios;
                llenarGrilla(usuarios);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        function llenarGrilla(usuarios) {
            var tbody = $('#tbody');
            var trs = '';


            for (var i = 0; i < usuarios.length; i++) {

                trs = trs + '<tr>';

                Agencia: "Testeo-Browar"
                Apellido: "Browarnik"
                Cod_estado: 0
                Cod_rol: 0
                Cod_tipo_usuario: 0
                Documento: "35337246"
                Email: "mibrowar@gmail.com"
                Id_agencia: 1
                Id_usuario: 1
                Mensaje: null
                Nombre: "Martin"
                Rol: "Vendedor"
                URL_imagen: null
                trs = trs + '    <td>' + usuarios[i].User + '</td>';
                trs = trs + '    <td>' + usuarios[i].Nombre + '</td>';
                trs = trs + '    <td>' + usuarios[i].Apellido + '</td>';
                trs = trs + '    <td>' + usuarios[i].Email + '</td>';
                trs = trs + '    <td>' + usuarios[i].Documento + '</td>';
                trs = trs + '    <td>' + (usuarios[i].Cod_estado == 0 ? 'Activo' : 'Inactivo') + '</td>';
                trs = trs + '    <td>' + (usuarios[i].Sn_activo == 0 ? 'Si' : 'No') + '</td>';
                trs = trs + '    <td>' + usuarios[i].Rol + '</td>';
                trs = trs + '    <td>' + usuarios[i].Agencia + '</td>';
                trs = trs + '    <td>' + '<i class="glyphicon glyphicon-edit" onClick="updateUsuario(' + usuarios[i].Id_usuario + ', \'' + usuarios[i].User + '\', \'' + usuarios[i].Nombre + '\',\'' + usuarios[i].Apellido + '\',\'' + usuarios[i].Password + '\',\''+ usuarios[i].Email + '\',\'' + usuarios[i].Documento + '\', ' + usuarios[i].Cod_estado + ', ' + usuarios[i].Sn_activo + ', ' + usuarios[i].Cod_rol + ', ' + usuarios[i].Id_agencia + ')"   onmouseover="" style="cursor: pointer;"></i></td>' + '</td>';
                if (usuarios[i].Cod_estado == 0) {
                    trs = trs + '    <td><i class="glyphicon glyphicon-minus-sign"  onClick="deleteUser(' + usuarios[i].Id_usuario + ')"  onmouseover="" style="cursor: pointer;"></i></td>';
                } else {
                    trs = trs + '    <td><i class="glyphicon glyphicon-plus-sign"  onClick="activateUser(' + usuarios[i].Id_usuario + ')"  onmouseover="" style="cursor: pointer;"></i></td>';
                }
                //trs = trs + '    <td>' + '<i class="glyphicon glyphicon-edit" onClick="updateUsuario(' + usuarios[i].ID_Usuario + ')"   onmouseover="" style="cursor: pointer;"></i></td>' + '</td>';
                //trs = trs + '    <td>' + '<i class="glyphicon glyphicon-edit" onClick="updateUsuario(' + agencias[i].ID_Usuario + ')"   onmouseover="" style="cursor: pointer;"></i></td>' + '</td>';
                trs = trs + '</tr>';
                //trs = trs + '<tr>';
                //                trs = trs + '    <td>' + modulos[i]. + '</td>';
                /*
                trs = trs + '    <td>' + agencias[i].Nombre + '</td>';
                trs = trs + '    <td>' + agencias[i].Documento + '</td>';
                trs = trs + '    <td>' + agencias[i].Email + '</td>';
                trs = trs + '    <td>' + agencias[i].TipoAgencia + '</td>';
                trs = trs + '    <td><i class="glyphicon glyphicon-edit" onClick="updateAgency(' + agencias[i].ID_Agencia + ', \'' + agencias[i].Nombre + '\', \'' + agencias[i].Documento + '\', \'' + agencias[i].Email + '\', ' + agencias[i].Cod_tipo_agencia + ')"   onmouseover="" style="cursor: pointer;"></i></td>';
                trs = trs + '</tr>';
                */
            }
            tbody.html(trs);
        }

    }

    function updateUsuario(id_usuario, User, Nombre, Apellido,Password, Email, Documento, cod_estado, sn_activo, cod_rol, cod_agencia) {
        $("#updateModal").modal("show");
        $('#updateModalTitle').html('Editar Usuario');
        var tbody = '';

        tbody = tbody + '<tr><td><label>Usuario</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" disabled id="txtUserU" value="' + User + '" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        tbody = tbody + '<tr><td><label>Nombre</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtNombreU" value="' + Nombre + '" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        tbody = tbody + '<tr><td><label>Apellido</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtApellidoU" value="' + Apellido + '" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        tbody = tbody + '<tr><td><label>Password</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="password" id="txtPasswordU" value="' + Password + '" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        tbody = tbody + '<tr><td><label>Email</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtEmailU" value="' + Email + '" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        tbody = tbody + '<tr><td><label>DNI</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtDNIU" value="' + Documento + '" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>';
        debugger
        @*<tr><td><label>Estado</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="checkbox" id="chkEstadoA" /></td></tr>*@
        
        tbody = tbody + '<tr><td><label>Bloqueado</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="checkbox" '+(sn_activo == 0 ? 'checked' : '') +' id="chkBloqueadoU" /></td></tr>';

        tbody = tbody + '<tr><td><label>Rol</label></td><td style="padding-bottom:8px; padding-left:8px">';
        tbody = tbody + '        <select id="ddlRolU" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%">';
        tbody = tbody + '            <option value="-1">Test</option>';
        tbody = tbody + '        </select>';
        tbody = tbody + '    </td>';
        tbody = tbody + '</tr>';
        tbody = tbody + '<tr>';
        tbody = tbody + '    <td><label>Agencia</label></td>';
        tbody = tbody + '    <td style="padding-bottom:8px; padding-left:8px">';
        tbody = tbody + '        <select id="ddlAgenciaU" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%">';
        tbody = tbody + '            <option value="-1">Test</option>';
        tbody = tbody + '        </select>';
        tbody = tbody + '    </td>';
        tbody = tbody + '</tr>';

        $('#updateTbody').html(tbody);
        cargarRoles($('#ddlRolU'), cod_rol);
        cargarAgencias($('#ddlAgenciaU'), cod_agencia);

        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" onClick="modificarUser(' + id_usuario + ')" value="Aceptar">';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';

        $('#updateModalFooter').html(footer);


        $('#divNombre').html('Editar Usuario');
    }
    function deleteUser(id_usuario) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html('Bloquear usuario');
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-danger" data-dismiss="modal" onClick="inhabilitarUsuario(' + id_usuario + ')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea deshabilitar a este usuario?';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);
    }
    function activateUser(id_usuario) {
        $("#deleteModal").modal("show");
        $('#deleteModalTitle').html('Desbloquear usuario');
        var footer = '';
        footer = footer + '<input type="button" class="btn btn-success" data-dismiss="modal" onClick="habilitarUsuario(' + id_usuario + ')" value="Aceptar"/>';
        footer = footer + '<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">';
        var parrafo = 'Está seguro que desea habilitar a este usuario?';
        $('#pActivacion').html(parrafo);
        $('#deleteModalFooter').html(footer);

    }
    function inhabilitarUsuario(id_usuario) {
        cambiarEstadoUsuario(id_usuario, 1);
    }
    function habilitarUsuario(id_usuario) {
        cambiarEstadoUsuario(id_usuario, 0);
    }
    function cambiarEstadoUsuario(id_usuario, cod_estado) {


        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlCambiarEstadoUsuario,
            contentType: "application/json; charset=utf-8",
            data: { id_usuario: id_usuario, cod_estado: cod_estado },
            success: function (data) {

                if (data.Mensaje == '') {
                    alert('El usuario ha sido modificado con éxito!.');
                } else {
                    alert(data.Mensaje);
                }
                start();
                $('#deleteModalFooter').html('');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function addUsuario() {

        $("#addModal").modal("show");
        cargarRoles($('#ddlRolA'), -10);
        cargarAgencias($('#ddlAgenciaA'), -10);
    }
    function addUser() {
        
        var user = $("#txtUserA").val();
        var nombre = $("#txtNombreA").val();
        var apellido = $("#txtApellidoA").val();
        var password = $("#txtPasswordA").val();
        var email = $("#txtEmailA").val();
        var dni = $("#txtDNIA").val();
        var cod_rol = $("#ddlRolA").val();
        var id_agencia = $("#ddlAgenciaA").val() ;

        var mailValido = validateEmail(email);
        if (mailValido) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlAgregarUsuario,
                contentType: "application/json; charset=utf-8",
                data: { txt_user: user, nombre: nombre, apellido: apellido, password: password, email: email, dni: dni, cod_rol: cod_rol, id_agencia: id_agencia },
                success: function (data) {
                    $("#addModal").modal("hide");

                    if (data.Mensaje == '') {
                        alert('El usuario ha sido agregado con éxito!.');
                        start();
                    } else {
                        alert(data.Mensaje);
                    }
                    
                },
                error: function (xhr, status, error) {
                    alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
                }
            });
        } else {
            alert('Error, el email ingresado es inválido.');
        }
    }
    function modificarUser(id_usuario) {


        var nombre = $("#txtNombreU").val();
        var apellido = $("#txtApellidoU").val();
        var email = $("#txtEmailU").val();
        var sn_Activo = $("#chkBloqueadoU").is(':checked') ? 0:-1;
        var dni = $("#txtDNIU").val();
        var cod_rol = $("#ddlRolU").val();
        var id_agencia = $("#ddlAgenciaU").val();
        var password = $('#txtPasswordU').val()
        var mailValido = validateEmail(email);
        if (mailValido) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlUpdateUsuario,
                contentType: "application/json; charset=utf-8",
                data: { id_usuario: id_usuario, nombre: nombre, apellido: apellido, password: password, email: email, dni: dni, sn_activo: sn_Activo, cod_rol: cod_rol, id_agencia: id_agencia },
                success: function (data) {

                    if (data.Mensaje == '') {
                        alert('El usuario ha sido modificado con éxito!.');
                        start();
                        $('#updateTbody').html('');
                        $('#updateModalFooter').html('');
                        $("#updateModal").modal("hide");
                    } else {
                        alert(data.Mensaje);
                    }
                    
                },
                error: function (xhr, status, error) {
                    alert('Ocurrió un error al actualizar el registro, por favor comuniquese con el administrador.');
                }
            });
        } else {
            alert('Error, el email ingresado es inválido.');
        }
    }
    function cargarRoles(control, cod_rol) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetRoles,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var roles = data.Roles;
                completarSelectRoles(control, roles, cod_rol);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function cargarAgencias(control, cod_agencia) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlGetAgencias,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var agencias = data.Agencias;
                completarSelect(control, agencias, cod_agencia);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function completarSelect(control, tipoAgencias, cod_tipo_agencia) {
        var miSelect = control;// $('#ddlTipoAgente');

        var misDatos = '';
        for (var i = 0; i < tipoAgencias.length; i++) {
            if (tipoAgencias[i].Cod_tipo_agencia == cod_tipo_agencia) {
                misDatos = misDatos + '<option value="' + tipoAgencias[i].Cod_tipo_agencia + '" selected >' + tipoAgencias[i].Nombre + '</option>'
            } else {
                misDatos = misDatos + '<option value="' + tipoAgencias[i].Cod_tipo_agencia + '">' + tipoAgencias[i].Nombre + '</option>'
            }
        }

        miSelect.html(misDatos);
    }
    function completarSelectRoles(control, tipoAgencias, cod_tipo_agencia) {
        var miSelect = control;// $('#ddlTipoAgente');
        
        var misDatos = '';
        for (var i = 0; i < tipoAgencias.length; i++) {
            if (tipoAgencias[i].ID_Rol == cod_tipo_agencia) {
                misDatos = misDatos + '<option value="' + tipoAgencias[i].ID_Rol + '" selected >' + tipoAgencias[i].Nombre + '</option>'
            } else {
                if (tipoAgencias[i].ID_Rol != -1 && tipoAgencias[i].ID_Rol != 6) {
                    misDatos = misDatos + '<option value="' + tipoAgencias[i].ID_Rol + '">' + tipoAgencias[i].Nombre + '</option>'
                }
            }
        }

        miSelect.html(misDatos);
    }
    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    }
    function importarExcel()
    {
        
        //alert('a');
        //if (checkFile()) {
            var e = $('#miExcel')[0];
            var files = e.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    data.append("cod_tipo_archivo", 3);
                    //waitingDialog.show('Subiendo archivo');
                    $.ajax({
                        type: "POST",
                        url: '/ABM/ImportarUsuariosExcel',
                        contentType: false,
                        processData: false,
                        data: data,
                        //complete: function () {waitingDialog.hide();},
                        success: function (result) {

                            //waitingDialog.hide();
                            alert(result.Mensaje);
                            start();
                            //console.log(result);
                        },
                        error: function (xhr, status, p3, p4) {
                            //waitingDialog.hide();
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
      //  }
    }

</script>


<div class="site-content site-content--default">
    <div class="card">
        <div class="card__header">
            <h2><a href="javascript:void(0)">Usuarios</a>
             
            </h2>
        </div>

        <div class="card__content">
            <div class="table__container" style="overflow:auto;max-height:450px;">
                <table class=" table table--default">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>DNI</th>
                            <th>Estado</th>
                            <th>Bloqueado</th>
                            <th>Rol</th>
                            <th>Agencia</th>
                            <th style="width: 2px; padding:0;"></th>
                            <th style="width: 2px; padding:0;"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

            </div>
            <div style="padding-top:10px">
                <input type="button" class="btn btn-success" onclick="addUsuario()" value="Agregar" style="float: right;">
            </div>
            
            <div style="padding-top:50px">
                <input type="button" class="btn btn-success" onclick="importarExcel()" value="Enviar" style="float: right;">
                <input type="File" id="miExcel" class="btn" @*onchange="importarExcel()"*@ value="Importar Excel" style="float: right;">
                <label style="float: right;">Importar de excel</label>
                
                       @*@Html.ActionLink("Exportar a Excel", "ExportToExcel", "Report", new { @class = "header-menu__btn btn--profile", @style = "float: right;" })>*@
            </div>
        </div>
    </div>

</div>
<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle"></h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%"></th></tr></thead>
                    <tbody id="updateTbody"></tbody>
                </table>
            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateModalTitle">Agregar Agencia</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead><tr><th style="width:30%"></th><th style="width:70%;"></th></tr></thead>
                    <tbody id="addTbody">
                        <tr><td><label>Usuario</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtUserA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        <tr><td><label>Nombre</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtNombreA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        <tr><td><label>Apellido</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtApellidoA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        <tr><td><label>Password</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="password" id="txtPasswordA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        <tr><td><label>Email</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtEmailA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        <tr><td><label>DNI</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtDNIA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        
                        @*<tr><td><label>Estado</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="checkbox" id="chkEstadoA" /></td></tr>
                        <tr><td><label>Bloqueado</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="checkbox" id="chkBloqueadoA" /></td></tr>*@                        
                        
                        @*<tr><td><label>Rol</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtAgenciaA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>
                        <tr><td><label>Agencia</label></td><td style="padding-bottom:8px; padding-left:8px;"><input type="text" id="txtAgenciaA" value="" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%" /></td></tr>*@

                        <tr><td><label>Rol</label></td><td style="padding-bottom:8px; padding-left:8px">
                                <select id="ddlRolA" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%">
                                    <option value="-1">Test</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Agencia</label></td>
                            <td style="padding-bottom:8px; padding-left:8px">
                                <select id="ddlAgenciaA" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 10px; padding: 0 4px 0 4px;width:100%">
                                    <option value="-1">Test</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" id="updateModalFooter">
                <input type="button" class="btn btn-success" onclick="addUser()" value="Aceptar">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"> @*data-dismiss="modal"*@
            </div>
        </div>

    </div>
</div>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle"></h4>
            </div>
            <div class="modal-body">
                <p id="pActivacion">Está seguro que desea deshabilitar este módulo? Todos los cursos asociados serán deshabilitados.</p>
            </div>
            <div class="modal-footer" id="deleteModalFooter">
                <input type="button" class="btn btn-danger" data-dismiss="modal" onclick="desactivarCurso()" value="Aceptar" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            </div>
        </div>

    </div>
</div>