.input-label {
    &--default {
        display: block;
        font-size: 0.75em;
        text-transform: uppercase;
        color: lighten($dark-gray,25);
        letter-spacing: 0.02em;
        margin: 0 0 5px 0;
        text-align: left;
    }
}

.input {
    &--default {
        width: 100%;
        display: block;
        border: 1px solid lighten($dark-gray,50);
        outline: 0;
        padding: 5px 14px;
        @include transition(350ms);

        &:focus {
            border-color: $movistar-green-2;
        }
    }
}

.form-button {
    height: 48px;
    line-height: 46px;
    display: inline-block;
    border-radius: 2px;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: 1px solid white;
    outline: 0;
    cursor: pointer;

    &--default {
        margin-top: 25px;
        background: $movistar-blue-3;
        color: white;
        @include transition(250ms);

        &:hover, &:focus {
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 520px) {
        width: 100%;
    }
}