@font-face {
    font-family: 'Movistar Headline';
    src: url('fonts/movistarheadline-regular-webfont.eot');
    src: url('fonts/movistarheadline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/movistarheadline-regular-webfont.woff2') format('woff2'),
         url('fonts/movistarheadline-regular-webfont.woff') format('woff'),
         url('fonts/movistarheadline-regular-webfont.ttf') format('truetype'),
         url('fonts/movistarheadline-regular-webfont.svg#movistar_headlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Movistar Text';
    src: url('fonts/movistartext-regular-webfont.eot');
    src: url('fonts/movistartext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/movistartext-regular-webfont.woff2') format('woff2'),
         url('fonts/movistartext-regular-webfont.woff') format('woff'),
         url('fonts/movistartext-regular-webfont.ttf') format('truetype'),
         url('fonts/movistartext-regular-webfont.svg#movistar_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Movistar Text';
    src: url('fonts/movistartext-bold-webfont.eot');
    src: url('fonts/movistartext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/movistartext-bold-webfont.woff2') format('woff2'),
         url('fonts/movistartext-bold-webfont.woff') format('woff'),
         url('fonts/movistartext-bold-webfont.ttf') format('truetype'),
         url('fonts/movistartext-bold-webfont.svg#movistar_textbold') format('svg');
    font-weight: bold;
    font-style: normal;
}