.site-content {
	width: 100%;
	height: 100%;
	position: relative;

	&__wrapper {
		width: 100%;
		position: relative;
		overflow: auto;

		&--module {
			
		}

		@include media('max-width: 1200px') {
			width: 100% !important;
			left: 0 !important;
		}
	}

	&__container {
		max-width: 1400px;
		padding: 30px;
		margin: 0 auto;
		position: relative;
		@include clearfix;

		@include media('max-width: 767px') {
			padding: 15px;
		}

		&--news-item {
			max-width: none;
			padding: 0 !important;
		}
	}
}