﻿@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sidepro SOM</title>
    @*<link href="/Content/style.css" rel="stylesheet">*@
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="js/excanvas.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
</head>
<!--[if IE 8]> <body class="ie"> <![endif]-->
<!--[if gt IE 9]><!-->
<body><!--<![endif]-->
    @Scripts.Render("~/bundles/jquery")
    <script>
    var urlLogin = '@Url.Action("Login", "Home")';
    var urlRecuperar = '@Url.Action("RecuperarPassword", "Home")';

    function login() {
        var User = $('#txtUser').val();
        var Pass = $('#txtPass').val();
        if ((User == '') || (Pass == '')) {
            alert('Usuario o contraseña incorrectos');
        } else {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlLogin,
                contentType: "application/json; charset=utf-8",
                async: false,
                data: { user: User, pass: Pass },
                success: function (data) {

                    if (data.login) {
                        var divError = $('#divloginError');
                        divError.html('');
                        divError.removeClass('login__error');
                        if (data.tipo_usuario != -1) {
                            if (data.tipo_usuario == 16 || data.tipo_usuario == 14) {
                                window.location.replace(window.location + '/Report?id_module=5');
                            } else {
                                window.location.replace(window.location + '/Home/Home');
                            }
                        } else {
                            window.location.replace(window.location + '/ABM/modulo');
                        }
                    } else {
                        var divError = $('#divloginError');
                        divError.html(data.mensaje);
                        divError.addClass('login__error');
                        //alert('Usuario o contraseña incorrectos');
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
    $(document).keypress(function (e) {
        if (e.which == 13) {
            var User = $('#txtUser').val();
            var Pass = $('#txtPass').val();
            if (!((User == '') || (Pass == ''))) {
                login();
            }
        }
    });
    function recuperarPassword() {
        var Email = $('#txtEmail').val();

        if ((Email == '') || (!validateEmail(Email))) {
            alert('El email ingresado es incorrecto.');
        } else {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlRecuperar,
                contentType: "application/json; charset=utf-8",
                async: false,
                data: { email: Email },
                success: function (data) {
                    if (data.Mensaje == "") {
                        alert("Un mail se ha enviado a la casilla indicada, por favor revise su correo y spam.(esto puede tardar unos minutos)")
                    } else {
                        alert(data.Mensaje);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    }
    </script>
    <div class="login">
        <div class="login__centering">
            <div class="login__container">
                <div class="login__logo"></div>
                <div class="" id="divloginError"></div>
                <div class="login__input login__input--user">
                    <input type="text" id="txtUser" placeholder="Usuario" autofocus>
                </div>
                <div class="login__input login__input--password">
                    <input type="password" id="txtPass" placeholder="Contraseña">
                </div>
                <input type="button" value="Ingresar" onclick="login()" class="login__button">
                <a id="password-btn"  class="login-opt" href="javascript:void(0)">Olvidé mi contraseña</a>
                <a class="login-opt" href="/Home/Register">Quiero registrarme</a>
            </div>
        </div>
    </div>
    <div id="password-modal" class="modal">
        <div class="modal-content">
            <span class="close"><i class="ti ti-close"></i></span>
            <h2>Recupera tu contraseña</h2>
            <p>Ingresa el correo electrónico con el que te registraste</p>
            <form action="">
                <div class="login__input login__input--email">
                    <input type="email" id="txtEmail" placeholder="E-mail" autofocus>
                </div>
                <input class="login__button" type="button" onClick="recuperarPassword()" value="Recuperar mi contraseña">
            </form>
        </div>
    </div>

    <script>
        var modal = document.getElementById('password-modal');
        var btn = document.getElementById("password-btn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>    
</body>
</html>