﻿@model SOM.ViewModels.indexViewModel
@using SOM.Entities
@using SOM.HelperExtensionNameSpace
@{
    ViewBag.Title = "Sidepro SOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var urlHisorialCertificacion = '@Url.Action("HistorialCertificacion", "Home")';
    $(document).ready(function () {

        function loadHistorial() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlHisorialCertificacion,
                contentType: "application/json; charset=utf-8",
                asyinc: false,
                success: function (data) {
                    debugger
                    var obj = JSON.parse(data);
                    setearHistorial(obj);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        function setearHistorial(obj) {
            var tableBody = $('#bodyHistorial');
            var contenido = '';
            debugger
            //var obj2 = [obj];
            $.each(obj, function (index, miObj) {
                contenido = contenido + '<tr>';
                contenido = contenido + '   <td><a href="javascript:void(0)">' + miObj.Nombre + '</a></td>'; //data-featherlight="../ajax/profile-certif.html"
                contenido = contenido + '   <td>' + miObj.Nota + '%</td>';
                contenido = contenido + '</tr>';

            });

            tableBody.html(contenido);

        }

        loadHistorial();
    });

</script>
<div class="profile">
    <div class="profile__top">
        <div class="profile__pic-container">
            <div class="profile__pic"></div>
            <a href="#" data-featherlight="../ajax/profile-pic.html" class="profile__pic-btn js-tooltip-right" title="Cambiá tu foto de perfil"></a>
        </div>
        <p class="profile__name">@Model.nombreUsuario @Model.apellidoUsuario</p>
        <p class="profile__sub">Tu perfil</p>
    </div>

    <div class="profile__section">
        <h2 class="profile__title">Historial de certificación</h2>
        <table class="profile__certif-history">
            <thead>
                <tr>
                    <th>Certificación</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody id="bodyHistorial">
                @*                                <tr>
                        <td><a href="#" data-featherlight="../ajax/profile-certif.html">Test Inicial</a></td>
                        <td>90%</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-featherlight="../ajax/profile-certif.html">Junio 2015</a></td>
                        <td>84%</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-featherlight="../ajax/profile-certif.html">Julio 2015</a></td>
                        <td>92%</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-featherlight="../ajax/profile-certif.html">Agosto 2015</a></td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-featherlight="../ajax/profile-certif.html">Septiembre 2015</a></td>
                        <td>80%</td>
                    </tr>*@
            </tbody>
        </table>
    </div>
    <div class="profile__section">
        <h2 class="profile__title">Cambiar contraseña</h2>
        <form class="profile__password">
            <div class="profile__password-col">
                <label for="current-password" class="input-label input-label--default">Contraseña anterior</label>
                <input type="password" class="input input--default" id="current-password">
            </div>
            <div class="profile__password-col">
                <label for="new-password" class="input-label input-label--default">Contraseña nueva</label>
                <input type="password" class="input input--default" id="new-password">
            </div>
            <div class="profile__password-col">
                <label for="new-password-confirm" class="input-label input-label--default">Repetir contraseña nueva</label>
                <input type="password" class="input input--default" id="new-password-confirm">
            </div>
            <input type="button" class="form-button form-button--default" onclick="cambiarPassword()" value="Realizar cambio">
        </form>
    </div>
</div>
<script>
    var urlCambiarPass = '@Url.Action("CambiarPassword","Home")';
    function cambiarPassword() {
        if (validarPassword) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: urlCambiarPass,
                contentType: "application/json; charset=utf-8",
                data: { pass_actual: $('#current-password').val(), pass_nueva: $('#new-password').val() },
                success: function (data) {
                    var msg = data.Mensaje;
                    if (msg == "") {
                        alert('La contraseña se modificó con éxito');
                    } else {
                        alert(msg);
                    }
                    $('#new-password').val('');
                    $('#current-password').val('');
                    $('#new-password-confirm').val('');
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
    function validarPassword() {
        if ($('#new-password').val() == "" || $('#current-password').val() == "" || $('#new-password-confirm').val() == "") {
            alert('Por favor complete todos los campos');
            return false;
        }
        if ($('#new-password').val() == $('#current-password').val()) {
            alert('La contraseña ingresada es igual a la anterior');
            return false;
        }
        if ($('#new-password').val() == $('#new-password-confirm').val()) {
            alert('La contraseña ingresada no coincide con su repetición');
            return false;
        }
        if ($('#new-password').val() == $('#current-password').val()) {
            alert('La contraseña ingresada es igual a la anterior');
            return false;
        }
        return true;
    }
</script>