﻿@model SOM.ViewModels.RegistroViewModel
@using SOM.Entities
@using SOM.HelperExtensionNameSpace
@{
    ViewBag.Title = "Sidepro-Som Registro";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sidepro SOM</title>
    @*<link href="css/login.css" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="js/excanvas.min.js"></script>
    <![endif]-->
</head>
<!--[if IE 8]> <body class="ie"> <![endif]-->
<!--[if gt IE 9]><!-->
<body>
    <!--<![endif]-->
    @Scripts.Render("~/bundles/jquery")
    <div class="login">
        <div class="login__centering">
            <div class="login__container register">
                <div class="login__logo"></div>

                <div id="divNombre" class="login__input login__input--user">
                    <input type="text" id="txtNombre" placeholder="Nombre" autofocus>
                </div>
                <div class="login__input login__input--lname">
                    <input type="text" id="txtApellido"  placeholder="Apellido" autofocus>
                </div>
                <div class="login__input login__input--dni">
                    <input type="number" id="txtDNI"  placeholder="DNI" autofocus>
                </div>
                <div class="login__input login__input--email">
                    <input type="email" id="txtEmail" placeholder="E-mail" autofocus>
                </div>
                <div class="login__input login__input--password">
                    <input type="password" id="txtPassword" placeholder="Contraseña">
                </div>
                <div class="login__input login__input--delegacion" onchange="cambiarColor()">
                    <select name="" id="ddlDelegacion">
                        <option value="-1" disabled selected>Delegación más cercana</option>
                        @foreach (Delegacion miDelegacion in Model.delegaciones)
                        {
                            <option value="@miDelegacion.Codigo">@miDelegacion.Descripcion</option>
                        }
                    </select>
                </div>
                <input type="button" value="Registrarme" onclick="registrar()" class="login__button">
                <a class="login-opt" href="../../">Ya tengo cuenta</a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jsRegister")
    <script>
        var urlRegister = '@Url.Action("RegistrarUsuario","Home")';
        function registrar() {
            if (validarDatos()) {
                var Nombre = $('#txtNombre').val();
                var Apellido = $('#txtApellido').val();
                var DNI = $('#txtDNI').val();
                var Password = $('#txtPassword').val();
                var Email = $('#txtEmail').val();
                var Delegacion = $('#ddlDelegacion').val();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: urlRegister,
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    data: { nombre: Nombre, apellido: Apellido, password: Password, dni: DNI, email: Email, delegacion: Delegacion},
                    success: function (data) {
                        if (data.login) {
                            //alert('Se le envió un email a la dirección ingresada, por favor verifiquelo para poder ingresar.')
                            window.location.assign(window.location.origin + "/SOM/Home/Home");
                        } else {
                            alert(data.mensaje);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }});
            }else{
                alert ('Error, por favor completar correctamente los campos indicados.');
            }
        }
        function cambiarColor() {
            $('#ddlDelegacion').attr("style", "color:black;");
        }
        function validarDatos() {
            var Nombre = $('#txtNombre').val();
            var Apellido = $('#txtApellido').val();
            var DNI = $('#txtDNI').val();
            var Password = $('#txtPassword').val();
            var Email = $('#txtEmail').val();
            var Delegacion = $('#ddlDelegacion').val();
            var cantErrores = 0;

            addLostFocusListener($('#txtNombre'));
            addLostFocusListener($('#txtApellido'));
            addLostFocusListener($('#txtDNI'));
            addLostFocusListener($('#txtPassword'));
            addLostFocusListener($('#txtEmail'));
            addLostFocusListener($('#ddlDelegacion'));

            if (!Nombre) {
                marcarError($('#txtNombre'));
                cantErrores++;
            } else { desmarcarError($('#txtNombre')); }
            if (!Apellido) {
                marcarError($('#txtApellido'));
                cantErrores++;
            } else { desmarcarError($('#txtApellido')); }
            if (!DNI) {
                marcarError($('#txtDNI'));
                cantErrores++;
            } else { desmarcarError($('#txtDNI')); }
            if (!Password) {
                marcarError($('#txtPassword'));
                cantErrores++;
            } else { desmarcarError($('#txtPassword')); }
            if (!Email || !validateEmail(Email)) {
                marcarError($('#txtEmail'));
                cantErrores++;
            } else { desmarcarError($('#txtEmail')); }
            if (Delegacion == -1) {
                marcarError($('#ddlDelegacion'));
                cantErrores++;
            } else { desmarcarError($('#ddlDelegacion')); }

            if (cantErrores == 0) {
                return true;
            } else {
                return false;
            }
        }
        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }
        function marcarError(id) {
            $(id).addClass('errorValidacion');
        }
        function desmarcarError(id) {
            $(id).removeClass('errorValidacion');
        }
        function addLostFocusListener(object) {
            object.focusout(function () {
                
                if (!(object.attr("id") == 'txtEmail')){
                    if (object.val() == '') {
                        object.addClass("errorValidacion");
                    } else {
                        object.removeClass("errorValidacion");
                    }
                } else {
                    if (object.val() == '' || !validateEmail(object.val())) {
                        object.addClass("errorValidacion");
                    } else {
                        object.removeClass("errorValidacion");
                    }

                }
            });
        }
    </script>
</body>
</html>