$header-height: 72px;

.site-header {
	width: 100%;
	height: $header-height;
	background: $green;
	position: relative;
	z-index: 4;

	&__logo {
		width: 205px;
		height: 46px;
		background: url(../img/som-logo-header.png) no-repeat 0% 50%;
		position: relative;
		top: 14px;
		left: 25px;
		float: left;

		@include retina {
			background-image: url(../img/som-logo-header@2x.png);
			background-size: 205px 46px;
		}
	}

	&__right {
		float: right;
	}

	&__pic {
		width: 56px;
		height: 56px;
		background: url(../img/user-placeholder.png) no-repeat 50% 50%;
		float: left;
		border-radius: 50%;
		position: relative;
		top: 7px;
		margin-right: 15px;

		@include retina {
			background-image: url(../img/user-placeholder@2x.png);
			background-size: 56px 56px;
		}

		@include media('max-width: 460px') {
			display: none;
		}
	}
	
	&__btn {
		width: $header-height;
		height: $header-height;
		line-height: $header-height;
		display: inline-block;
		border: 0;
		outline: 0;
		cursor: pointer;
		background: $green-2;
		float: left;
		color: white;
		@include transition(250ms);
		font-size: 1.3em;
		@extend .ti;
		@extend .ti-menu-alt;
		
		&:hover {
			background-color: darken($green, 8);
		}
	}
}

.header-menu {
	width: 280px;
	position: absolute;
	z-index: 2;
	top: $header-height;
	right: 0;
	background: $green-2;
	color: white;
	opacity: 0;
	display: none;
	transform: translateY(30px);
	@include transition(500ms);

	&.is-opened {
		opacity: 1;
		transform: translateY(0px);
	}

	&__nav {
		list-style: none;
		padding: 0;
		margin: 0;

		a {
			display: block;
			padding: 13px 25px;
			border-bottom: 1px solid darken($green-2, 5);
			@include transition(250ms);

			&:hover {
				background-color: darken($green-2, 5);
			}
		}
	}

	&__user {
		background-color: $green-3;
		padding: 20px 25px;
	}

	&__welcome {
		font-size: 0.8em;
		margin: 0;
	}

	&__username {
		font-size: 1.3em;
		margin: 1px 0 15px 0;
		line-height: 1.25em;
	}

	&__btn {
		display: inline-block;
		border: 1px solid;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 0.8em;
		padding: 7px 0;
		text-align: center;
		@include transition(350ms);

		i {
			@extend .ti;
			position: relative;
			top: 1px;
			margin-right: 8px;
		}
	}
}

.btn--profile {
	width: 130px;
	border-color: white;
	margin-right: 5px;

	i {
		@extend .ti-user;
	}

	&:hover {
		background-color: white;
		color: $green-3;
	}
}

.btn--logout {
	width: 90px;
	border-color: $red;

	i {
		@extend .ti-power-off;
	}

	&:hover {
		background-color: $red;
		color: white;
	}
}

.footer {
	width: 100%;
	height: 50px;
	position: relative;
	left: 0;
	bottom: 0;

	&__container {
		background: $dark-gray;
		color: white;
		@include clearfix;
	}

	&__help {
		float: left;
	}

	&__help-link {
		height: 100%;
		line-height: 50px;
		background: transparent;
		border: 0;
		font-weight: bold;
		padding: 0 20px;
		@include transition(350ms);

		i {
			@extend .ti;
			@extend .ti-help-alt;
			position: relative;
			top: 3px;
			margin-right: 8px;
		}

		&:hover {
			background-color: lighten($dark-gray,10);
		}
	}

	&__copy {
		float: right;
		text-align: right;
		padding-right: 20px;
		font-size: 0.9em;
		line-height: 1.15em;
		position: relative;
		top: 6px;

		small {
			color: lighten($dark-gray,40);
			display: block;
		}
	}
}
