.lightbox {
	background-color: white;
	margin: 0 auto;
	position: relative;

	&--profile {
		width: 100%;
		max-width: 500px;
	}

	&--help {
		width: 100%;
		max-width: 600px;
	}

	&--certif {
		width: 100%;
		max-width: 767px;
	}

	&__header {
		background-color: $green;
		padding: 18px 30px;
		position: relative;
	}
	
	&__close {
		width: 32px;
		height: 32px;
		line-height: 29px;
		display: inline-block;
		border: 0;
		outline: 0;
		cursor: pointer;
		background: $green-2;
		position: absolute;
		top: 0;
		right: 0;
		color: white;
		@include transition(250ms);
		font-size: 1em;
		@extend .ti;
		@extend .ti-close;
		
		&:hover {
			background-color: darken($green, 8);
		}
	}

	&__title {
		font-weight: normal;
		margin: 0;
		font-size: 1.6em;
		color: white;
	}
}

.help {
	padding: 25px;

	&__copy {
		margin-top: 0;
	}
}

.help-form {
	&__textarea {
		width: 100%;
		height: 150px;
		display: block;
		border: 1px solid lighten($dark-gray,50);
		outline: 0;
		padding: 10px;
		@include transition(350ms);

		&:focus {
			border-color: $blue;
		}
	}

	&__btn {
		width: 100%;
		height: 48px;
		line-height: 46px;
		display: block;
		border-radius: 2px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		border: 0;
		outline: 0;
		cursor: pointer;
		color: white;
		padding: 0;
		margin-top: 10px;
		background: $blue;
		@include transition(350ms);

		&:hover, &:focus {
			background: darken($blue,5);
		}
	}
}