.login {
	width: 100%;
	height: 100%;
	position: absolute;
	background: $movistar-blue-2;
	display: table;

	&__centering {
		display: table-cell;
		vertical-align: middle;
	}

	&__container {
		width: 280px;
		margin: 0 auto;
	}

	&__logo {
		width: 163px;
		height: 35px;
		background: url(../img/movistar-logo-header.png) no-repeat 0% 50%;
		margin: 0 auto 40px auto;

		@include retina {
			background-image: url(../img/movistar-logo-header@2x.png);
			background-size: 163px 35px;
		}
	}

	&__input {
		position: relative;

		input {
			width: 100%;
			display: block;
			border: 0;
			outline: 0;
			padding: 10px 14px 10px 42px;
			margin: 0;
			@include transition(350ms);
		}

		&:before {
			@extend .ti;
			position: absolute;
			left: 12px;
			top: 15px;
			color: lighten($dark-gray,35);
		}

		&--user {
			border-bottom: 1px solid darken(white,10);

			&:before {
				@extend .ti-user;
			}
			
			input {
				border-radius: 2px 2px 0 0;
			}
		}

		&--password {
			&:before {
				@extend .ti-lock;
			}

			input {
				border-radius: 0 0 2px 2px;
			}
		}
	}

	&__button {
		width: 100%;
		height: 48px;
		line-height: 46px;
		display: inline-block;
		border-radius: 2px;
		padding: 0 25px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		border: 0;
		outline: 0;
		cursor: pointer;
		margin-top: 10px;
		background: $movistar-blue-1;
		color: white;
		@include transition(250ms);

		&:hover, &:focus {
		    background-color: darken($movistar-blue-1,5);
		}
	}

	&__error {
		padding: 15px;
		font-size: 0.9em;
		color: white;
		background: $red;
		border-radius: 2px;
		margin-bottom: 10px;
	}
}