.sidebar {
	width: 280px;
	background: white;
	border-right: 1px solid darken($light-gray, 5);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	@include transition(500ms);

	&__wrapper {
		height: 100%;
		padding: 72px 0 0 0;
	}

	&__container {
		height: 100%;
		padding: 0 15px 0 15px;
		position: relative;
		overflow: auto;
	}

	&__toggle {
		width: 28px;
		height: 38px;
		line-height: 38px;
		display: inline-block;
		border: 1px solid white;
		outline: 0;
		cursor: pointer;
		z-index: 1;
		position: absolute;
		right: 16px;
		top: 78px;
		padding: 0;
		background: white;
		border-radius: 2px;
		color: $dark-gray;
		text-align: center;
		font-size: 1.1em;
		@include transition(500ms);
		@extend .ti;
		
		&:before {
			content: "\e662";
		}

		&:hover {
			background-color: darken($light-gray, 5);
		}
	}
}

.js-sidebar {
	visibility: hidden;
}

.subtitle--sidebar {
	margin-bottom: 25px;
	text-align: center;
}

.unread {
	margin-bottom: 40px;

	&__container {
		max-height: 149px;
		overflow: auto;
		position: relative;
	}

	&__item {
		display: block;
		cursor: pointer;
		padding: 12px 15px 16px 15px;
		border: solid darken($light-gray, 5);
		border-width: 1px 1px 0px 1px;
		margin-bottom: 6px;
		position: relative;
		
		&:last-of-type {
			margin-bottom: 0px;
		}
		
		&:hover {
			background-color: $light-gray;
		}

		&:after {
			content: ' ';
			position: absolute;
			bottom: 0;
			left: -1px;
			width: 100.75%;
			height: 4px;
		}

		&--default:after {
			background-color: $green-2;
		}
	}

	&__category {
		font-size: 0.7em;
		text-transform: uppercase;
		font-weight: bold;
		color: darken($light-gray, 35);
		margin: 0;
	}

	&__title {
		margin: 1px 0 0 0;
	}
}

.progress {
	margin-bottom: 30px;

	&__chart {
		margin-bottom: 12px;
		
		&--total {
			width: 200px;
			height: 200px;
			margin: 0 auto 30px auto;
			position: relative;
		}

		&-label, &-percent {
			
		}

		&-percent {
			font-weight: bold;
			float: right;
		}
	}

	&__text {
		font-size: 0.85em;

		&--total {
			width: 100%;
			position: absolute;
			top: 67px;
			left: 2px;
			text-align: center;
			text-transform: uppercase;
			line-height: 30px;

			.progress__chart-label {
				display: block;
				text-transform: uppercase;
				color: darken($light-gray, 35);
			}

			.progress__chart-percent {
				display: block;
				font-size: 2.5em;
				font-weight: 300;
				float: none;
			}
		}
	}

	&__bar {
		width: 100%;
		height: 8px;
		background: #EEEEEE;
		position: relative;
		margin-top: 3px;
	}

	&__value {
		width: 0%;
		height: 8px;
		position: absolute;
		left: 0;
		top: 0;

		&--mod-1 {
			background-color: $green;
		}
		&--mod-2 {
			background-color: $green-2;
		}
		&--mod-3 {
			background-color: $green-3;
		}
		&--mod-4 {
			background-color: darken($green-3,6);
		}
	}
}

.sidebar-is-closed {
	.sidebar {
		left: -280px;

		&__toggle {
			right: -28px;
			border-color: darken($light-gray, 5);
			
			&:before {
				content: "\e661";
			}
		}

		&__container {
			height: 1px;
			overflow: hidden;
		}
	}
}