ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;
}

/* Accessibility */
.quizName span:first-child {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.questions {
    margin: 0;
    padding: 0 0 25px 0;
    list-style: none;
    text-align: center;
}

.question {
    h3 {
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.3em;
        margin: 0 0 25px 0;
        text-align: left;
        padding: 27px 80px 25px 30px;
    }
}

.answers {
    padding: 0 20px;
    @include clearfix;

    li {
        display: inline-block;
        padding: 5px 10px 8px 10px;
        border-radius: 2px;
        float: left;
        clear: both;
        @include transition(350ms);
        cursor: pointer;

        input {
            font-size: 18px;
            cursor: pointer;
        }

        label {
            padding-left: 5px;
            position: relative;
            top: 1px;
            cursor: pointer;
        }
    }
}

.responses {
    padding: 0 20px;
    margin: 0;

    p {
        max-width: 500px;
        margin: 0 auto 15px auto;
    }

    .correct p, .incorrect p {
        &:before {
            display: block;
            font-size: 3em;
            margin: 0 0 15px 0;
            text-align: center;
            @extend .ti;
        }
    }

    .correct p {
        &:before {
            @extend .ti-check;
        }
    }

    .incorrect p {
        &:before {
            @extend .ti-na;
        }
    }
}

.checkAnswer, .nextQuestion {
    display: inline-block;
    height: 48px;
    line-height: 46px;
    border-radius: 2px;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: 1px solid white;
    outline: 0;
    cursor: pointer;
    background: white;
    backface-visibility: hidden;
    transform: translateZ(0);
    @include transition(250ms);
    margin-top: 15px;

    &:hover, &:active, &:focus {
        transform: scale(1.1);
    }
}

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .correct,
.questions li.question .responses .incorrect,
.quizResults {
    display: none;
}

.question.complete .nextQuestion {
    display: inline-block !important;
}

.nextQuestion.checkAnswer {
    display: block;
}

.quiz--post-video {
    .question h3 {
        background: darken($blue,10);
    }

    .checkAnswer, .nextQuestion {
        color: darken($blue,5);
    }

    .answers li:hover {
        background-color: darken($blue,8);
    }
}

.quiz--certif {
    .question h3 {
        background: $green;;
    }

    .checkAnswer, .nextQuestion {
        color: $green-2;
    }

    .answers li:hover {
        background-color: darken($green-2,4);
    }
}