﻿@model SOM.ViewModels.ViewModelBase
@using SOM.Entities
@using SOM.HelperExtensionNameSpace
@{
    HttpCookie myCookie = HttpContext.Current.Request.Cookies.Get("UserSettings");

    //int miUsuario = Convert.ToInt32(HttpContext.Session["IDUsuario"]);
    if (myCookie != null)
    {
        if (myCookie["Codigo"] != null)
        {
            int usr = Convert.ToInt32(myCookie["Codigo"]);
            if (usr <= 0)
            {
                Response.Redirect("~/");
            }
        }
        else
        {
            Response.Redirect("~/");
        }
    }
    else
    {
        Response.Redirect("~/");
    }
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <link href="../Images/ico.ico" rel="shortcut icon" type="image/x-icon" />


    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <script>
        function goToIndex() {
            window.location.assign(window.location.origin + "/SOM/Home/Home");
        }

    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="js/excanvas.min.js"></script>
    <![endif]-->
    <!--<![endif]-->
    <header class="site-header">
        <a href="javascript:void()" onclick='goToIndex()' class="site-header__logo"></a>
        <div class="site-header__right">
            <div class="site-header__pic"></div>
            <button class="site-header__btn js-open-menu"></button>
        </div>
        <nav class="header-menu">
            <ul class="header-menu__nav">
                @foreach (ModuloCursos modulo in Model.menu)
                {
                    if (modulo.HTMLTag == @"<span class=""label label--gray"">No disponible</span>")
                    {
                        <li>
                            @Html.Raw("<a class='" + modulo.Style + "' data-ajax='true' href='javascript:void(0)'>" + modulo.Nombre + " " + modulo.HTMLTag + "</a>")
                            @*@Ajax.RawActionLink(modulo.Nombre + modulo.HTMLTag, modulo.View, modulo.Controller, new { id_module = modulo.Id_modulo }, null, new { @Class = modulo.Style })*@
                        </li>
                    }
                    else
                    {
                        if (modulo.Nombre == "Reportes")
                        {
                            @Html.Raw("<a class='" + modulo.Style + "' data-ajax='true' href='/SOM/Report?id_module=" + modulo.Id_modulo + "'>Reportes</a>")
                        }
                        else
                        {
                            <li>@Ajax.RawActionLink(modulo.Nombre + modulo.HTMLTag, modulo.View, modulo.Controller, new { id_module = modulo.Id_modulo }, null, new { @Class = modulo.Style })</li>
                        }
                    }
                }
            </ul>
            <div class="header-menu__user">

                <p class="header-menu__welcome">Bienvenido,</p>

                <p class="header-menu__username">@Model.nombreUsuario  @Model.apellidoUsuario </p>
                <div class="header-menu__buttons">
                    @Ajax.RawActionLink("<i></i>Mi perfil", "Profile", "Home", null, null, new { @class = "header-menu__btn btn--profile" })
                    @Ajax.RawActionLink("<i></i>Salir", "index", "Home", null, null, new { @class = "header-menu__btn btn--logout" })
                </div>
            </div>
        </nav>
    </header>
    @*</header>*@
    @Scripts.Render("~/bundles/jquery")

    <div id="body">
        <aside class="sidebar js-sidebar">
            <button class="sidebar__toggle js-sidebar-toggle" title="Mostrar/ocultar barra lateral"></button>
            <div class="sidebar__wrapper">
                <div class="sidebar__container js-sidebar-container">
                    <div class="history">
                        <h3 class="subtitle subtitle--sidebar">Cursos en progreso</h3>
                        <div class="js-history-container history__container">
                            @foreach (Curso curso in Model.cursosHistorial)
                            {
                                @Ajax.RawActionLink("<p class='unread__category'>" + curso.Nombre_Modulo + "</p><p class='unread__title'>" + curso.Nombre + "</p>", curso.View, curso.Controller, new { id_module = curso.Id_modulo, id_curso = curso.Id_curso }, null, new { @class = curso.Style, hidefocus = "hidefocus" })
                            }
                        </div>
                    </div>

                    <div class="progress">
                        <h3 class="subtitle subtitle--sidebar">Tu progreso</h3>
                        <div class="progress__chart progress__chart--total">
                            <div class="progress__text progress__text--total">
                                <span class="progress__chart-label">total</span>
                                <span class="progress__chart-percent" id="js-total-percent"></span>
                            </div>
                            <canvas class="progress__total" height="200" width="200" id="js-progress-total"></canvas>
                        </div>
                        <div class="progress__chart">
                            <div class="progress__text">
                                <span class="progress__chart-label">Profesional de limpieza</span>
                                <span class="progress__chart-percent" id="js-mod-inicial-percent"></span>
                            </div>
                            <div class="progress__bar">
                                <span class="progress__value progress__value--mod-inicial" id="js-mod-inicial-value"></span>
                            </div>
                        </div>
                        <div class="progress__chart">
                            <div class="progress__text">
                                <span class="progress__chart-label">Informática</span>
                                <span class="progress__chart-percent" id="js-equipos-percent"></span>
                            </div>
                            <div class="progress__bar">
                                <span class="progress__value progress__value--equipos" id="js-equipos-value"></span>
                            </div>
                        </div>
                            <div class="progress__chart">
                                <div class="progress__text">
                                    <span class="progress__chart-label">SOM</span>
                                    <span class="progress__chart-percent" id="js-oferta-percent"></span>
                                </div>
                                <div class="progress__bar">
                                    <span class="progress__value progress__value--oferta" id="js-oferta-value"></span>
                                </div>
                            </div>
                            <div class="progress__chart">
                                <div class="progress__text">
                                    <span class="progress__chart-label">Saber más</span>
                                    <span class="progress__chart-percent" id="js-saber-mas-percent"></span>
                                </div>
                                <div class="progress__bar">
                                    <span class="progress__value progress__value--saber-mas" id="js-saber-mas-value"></span>
                                </div>
                            </div>
                        @*<div class="progress__chart">
                                <div class="progress__text">
                                    <span class="progress__chart-label">Certificación</span>
                                    <span class="progress__chart-percent" id="js-certif-percent"></strong>
                                </div>
                                <div class="progress__bar">
                                    <span class="progress__value progress__value--certif" id="js-certif-value"></span>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </aside>
        @RenderSection("featured", required: false)

        <div class="site-content">
            <div id="divWrapper" class="site-content__wrapper   js-site-content-wrapper">
                <div class="site-content__container  js-site-content-container">
                    @RenderBody()
                </div> <!-- /.site-content__container -->
                <footer class="footer js-footer">
                    <div class="footer__container">
                        <div class="footer__help">
                            <button data-featherlight="../ajax/help" class="footer__help-link"><i></i>¿Necesitás ayuda?</button>
                        </div>
                        <div class="footer__copy">
                            <small>desarrollado por</small>
                            <span>Grupo Amedia</span>
                        </div>
                    </div>
                </footer>
            </div> <!-- /.site-content__wrapper -->
        </div> <!-- /.site-content -->
    </div>
    @Scripts.Render("~/bundles/jslayout")

    @RenderSection("scripts", required: false)
    <script>
    $(document).ready(function () {

    });

    var progressTotalData = [
        {
            value: @Model.progreso.Total.ToString().Replace(",","."),
            color: "#7AB901"
        },
            {
                value: 100 - @Model.progreso.Total.ToString().Replace(",", "."),
                color: "#EEEEEE"
            }
    ];


    window.onload = function () {
        var progressTotalChart = $("#js-progress-total").get(0).getContext("2d");
        window.myDoughnut = new Chart(progressTotalChart)
            .Doughnut(progressTotalData, {
                showTooltips: false,
                segmentShowStroke: false,
                animationSteps: 75,
                animationEasing: "easeOutQuart",
                percentageInnerCutout: 88
            });

        $("#js-total-percent").prepend('@Model.progreso.Total.ToString().Replace(",", ".")' + '%');

        $('#js-mod-inicial-value').animate({ width: '@Model.progreso.ModuloInicial.ToString().Replace(",", ".")' + '%' }, 750);
        $("#js-mod-inicial-percent").prepend('@Model.progreso.ModuloInicial.ToString().Replace(",", ".")' + '%');

        $('#js-equipos-value').animate({ width: '@Model.progreso.Equipos.ToString().Replace(",", ".")' + '%' }, 750);
        $("#js-equipos-percent").prepend('@Model.progreso.Equipos.ToString().Replace(",", ".")' + '%');

        $('#js-oferta-value').animate({ width: '@Model.progreso.OfertaYCampana.ToString().Replace(",", ".")' + '%' }, 750);
        $("#js-oferta-percent").prepend('@Model.progreso.OfertaYCampana.ToString().Replace(",", ".")' + '%');

        $('#js-saber-mas-value').animate({ width: '@Model.progreso.SaberMas.ToString().Replace(",", ".")' + '%' }, 750);
        $("#js-saber-mas-percent").prepend('@Model.progreso.SaberMas.ToString().Replace(",", ".")' + '%');
            
        @*
        $('#js-certif-value').animate({ width: '@Model.progreso.Certificacion.ToString().Replace(",", ".")' + '%' }, 750);
        $("#js-certif-percent").prepend('@Model.progreso.Certificacion.ToString().Replace(",", ".")' + '%');
        *@

    };




    </script>
</body>
</html>
