@{
    ViewBag.Title = "Sidepro SOM";
}

<script type="text/javascript" >
    var urlEnviarMail = '@Url.Action("EnviarMailConsulta", "Ajax")';
    function enviarMailConsulta() {

        var Consulta = $('#txtConsulta').val();
        $('.featherlight').hide()

        $.ajax({
            type: "GET",
            dataType: "json",
            url: urlEnviarMail,
            contentType: "application/json; charset=utf-8",
            data: { consulta: Consulta },
            success: function (data) {
                debugger
                /*
                if (data.resultado){
                    alert(Consulta);
                } else {
                    alert('Error');
                }
                */

            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }

</script>

<div class="lightbox lightbox--help">
    <div class="lightbox__header">
        <button class="lightbox__close js-lightbox-close"></button>
        <h2 class="lightbox__title">Ayuda</h2>
    </div>
    <div class="help">
        <p class="help__copy">Por favor envía tu consulta y nuestros representantes de servicio técnico se pondrán en contacto lo antes posible.</p>
        <form class="help-form" >
            <textarea class="help-form__textarea" id="txtConsulta" autofocus></textarea>
            <input class="help-form__btn" type="button" id="btnEnviarConsulta" onclick="enviarMailConsulta()" value="Enviar consulta">
        </form>
    </div>
</div>