<div class="lightbox lightbox--help">
    <div class="lightbox__header">
        <button class="lightbox__close js-lightbox-close"></button>
        <h2 class="lightbox__title">Ayuda</h2>
    </div>
    <div class="help">
        <p class="help__copy">Por favor envía tu consulta y nuestros representantes de servicio técnico se pondrán en contacto lo antes posible.</p>
        <form class="help-form" action="">
            <textarea class="help-form__textarea" autofocus placeholder="Escribe tu consulta..."></textarea>
            <input class="help-form__btn" type="submit" value="Enviar consulta">
        </form>
    </div>
</div>