<div class="lightbox lightbox--profile">
    <div class="lightbox__header">
        <button class="lightbox__close js-lightbox-close"></button>
        <h2 class="lightbox__title">Foto de perfil</h2>
    </div>
    <div class="pic-update">
        <div class="pic-update__container">
            <div class="pic-update__upload js-pic-update-upload">
                <button class="pic-update__upload-btn">
                    <small>click aquí o arrastra un archivo para</small>
                    actualizar tu foto de perfil
                </button>
                <form name="" method="post">
                    <input type="file" class="pic-update__upload-input js-pic-update-upload-input" accept="image/*" value="">
                </form>
            </div>
            <p class="pic-update__instructions js-pic-update-instructions"><i></i> Podés subir únicamente una imágen <strong>.jpg o .jpeg</strong>, de menos de <strong>2 MB</strong>.</p>
            <div class="pic-update__loading js-pic-update-loading">
                <div class="pic-update__loading-spinner"></div>
                <p>cargando...</p>
            </div>
        </div>
    </div>
</div>